.navbar-container {
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

span {
  padding: 5px;
  font-weight: 400;
}

.button-container button {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  background-color: #97FEED;
  border-radius: 5px;
}